@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*******   Scrollbar   *******/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(83, 83, 83, 0.5);
    border-radius: 10px;
    opacity: 60%;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(77, 77, 77, 0.76);
}

.dark_mode {
    --primary-color: #ffffff;
    --secondary-color: #181A1B;
    --third-color: #25bcef24;
    --fourth-color: #181A1B;
}

:root {
    --primary-color: #181A1B;
    --secondary-color: #fff;
    --third-color: #e2f8ff;
    --fourth-color: #7455F7;
}

#loader {
    position: absolute;
    background-color: aquamarine;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 200px;
    margin: -100px 0 0 -100px;
}

#main {
    display: none;
}

.main {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 800 !important;
    margin-bottom: 1rem !important;
}

h1 {
    font-size: 4.5rem !important;
    background: -webkit-linear-gradient(224deg, #00e09d 0%, #00bfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline !important;
}

h2 {
    font-size: 3.4rem !important;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}


h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.5s;
}

h2:hover::after {
    width: 15%;
}

h3 {
    font-size: 2.2rem !important;
    /* color: #24c8ff !important; */
    background: -webkit-linear-gradient(42deg, #00e09d 0%, #00bfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline !important;
}

p {
    font-family: 'Nunito', sans-serif;
    color: var(--primary-color) !important;
}

.sticky-top {
    backdrop-filter: blur(20px);
}

.navbar-brand {
    text-align: start;
    font-size: 2.5rem !important;
    line-height: 0;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}

.navbar-brand img {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 0;
}

.nav-link {
    color: var(--primary-color) !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    transition: 300ms !important;
    padding-right: 18px !important;
    font-family: 'Nunito', sans-serif;
    position: relative;
    text-decoration: none;
}

.nav-link.active {
    font-weight: 600 !important;
    color: #25BEEF !important;
}

.nav-link::after {
    position: absolute;
    top: 30px;
    left: 8px;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #25BEEF !important;
    transition: all 0.5s;
}

.nav-link:hover::after {
    width: 80%;
}

.navbar-toggler-icon {
    border-color: rgb(255, 255, 255) !important;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) 0.5rem !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(255 255 255) !important;
    background-color: rgb(255 255 255) !important;
    border: var(--bs-border-width) solid rgb(255, 255, 255) !important;
}

.nav-btn {
    color: #fff !important;
    background-color: #00bfff !important;
    font-family: 'Nunito', sans-serif !important;
    border-radius: 50px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
    transition: 300ms !important;
}

.nav-btn:hover {
    color: #fff !important;
    background-color: #25BEEF !important;
}

#daynight {
    width: 45px;
    padding: 5px;
    margin-left: 10px;
    position: absolute;
    z-index: 99;
    left: 50%;
    cursor: pointer;
}

#daynight:hover {
    border-radius: 50px;
}

/* top */
#home {
    padding: 5% 7% 4%;
    z-index: -9;
    display: flex;
    align-items: center;
}

.home-left {
    text-align: start !important;
    padding: 2rem auto !important;
}

.para {
    font-size: 20px !important;
    margin-bottom: 1rem !important;
    opacity: 75%;
}

.time {
    display: flex;
    font-size: 18px !important;
    color: var(--primary-color) !important;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 85%;
    margin-bottom: 1rem !important;
}

.fa-clock,
.fa-phone-alt {
    color: #24c8ff !important;
    padding-right: 10px;
    font-size: 45px;
    font-weight: 700;
}

.fa-phone-alt {
    font-size: 40px !important;
}

.smile {
    width: 100px;
    margin: 1px;
    position: absolute;
    left: 600px;
    top: -140px;
}

.top-btn {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    background: transparent !important;
    border-radius: 50px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
    transition: 300ms !important;
}

.top-btn:hover {
    color: #fff !important;
    transform: scale(1.05) !important;
    border-color: white !important;
    background: linear-gradient(42deg, #00e09d 0%, #00bfff 100%) !important;
}

.homesnap {
    z-index: -9;
    width: 100%;
}

.home-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog,
.modal-header,
.modal-footer,
.modal-body {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border: none !important;
    font-family: 'Nunito', sans-serif;
}

.btn-close {
    color: #fff !important;
    background-color: #fff !important;
}

/* about */
#about {
    padding: 5% 8% 3%;
    text-align: left !important;
}

.about-row {
    display: flex !important;
    align-items: center;
}

.about-snap {
    z-index: -9;
    width: 100%;
}

/* services */
#services {
    padding: 5% 8% 3%;
    text-align: left !important;
}

/* contact */
#contact {
    padding: 5% 8% 3%;
    color: var(--primary-color) !important;
    text-align: left !important;
}