@media only screen and (max-width: 800px) {
    .navbar-brand img {
        height: 3rem;
        padding-left: 1rem;
    }

    .nav-link {
        /* font-size: 16px !important; */
        padding-right: 16px !important;
    }

    .nav-btn {
        font-size: 18px !important;
        padding: 10px 20px !important;
    }

    #daynight {
        display: block !important;
    }

    #daynights {
        display: none;
    }

    /* top */
    #home {
        padding: 6% 6% 4%;
    }

    .home-left {
        padding: 1rem auto !important;
    }

    .home-right {
        margin: 4rem auto !important;
    }

    h1 {
        font-size: 3rem !important;
        margin-bottom: 1rem !important;
    }

    .para {
        font-size: 16px !important;
        text-align: justify;
    }

    .time {
        font-size: 16px !important;
        margin-bottom: .8rem !important;
    }

    .fa-clock {
        font-size: 40px;
    }

    .fa-phone-alt {
        font-size: 35px !important;
    }

    .smile {
        width: 90px;
        left: 290px;
        top: -260px;
    }

    .top-btn {
        font-size: 16px !important;
        padding: 10px 15px !important;
    }

    #about {
        padding: 5% 6% 3%;
    }
}

@media only screen and (max-width: 480px) {
    .nav-link {
        font-size: 18px !important;
        padding-right: 16px !important;
    }

    .nav-btn {
        font-size: 18px !important;
        padding: 10px 12px !important;
    }

    .navbar-brand img {
        padding-left: .3rem;
    }

    #daynight {
        width: 45px;
        padding: 5px;
        margin-left: 10px;
        z-index: 99;
        cursor: pointer;
    }

    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    h2:hover::after {
        width: 35%;
    }

    h3 {
        font-size: 1.9rem !important;
    }

    #home {
        padding: 14% 6% 4%;
    }

    .home-left {
        text-align: center !important;
    }

    .home-left .para {
        text-align: center !important;
    }

    .homesnap {
        padding: 4%;
    }

    .smile {
        display: none;
    }

    .time {
        justify-content: center;
        text-align: center;
    }

    /* services */
    #services {
        padding: 5% 5%;
        text-align: left !important;
    }

    /* testimonial */
    .testimonial4_slide p {
        color: #ffffff !important;
        font-size: 16px;
        line-height: 1.4;
        margin: 40px 0 20px 0;
    }

    .stars {
        margin: 0 !important;
    }

    .testimonial4_slide h4 {
        color: #ffffff;
        font-size: 18px;

    }

    .testimonial .carousel {
        padding-bottom: 20px;
    }

    .testimonial4_slide {
        width: 80%;
        margin: auto;
        /* padding: 20px; */
        position: relative;
        text-align: center;
    }

    /* contact */
    #contact {
        padding: 8% 8%;
        color: var(--primary-color) !important;
        text-align: left !important;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-brand img {
        height: 2.2rem !important;
        padding-left: 0;
    }

    .para {
        font-size: 14px !important;
    }

    #daynight {
        width: 45px;
        padding: 5px;
        margin-left: 0;
        top: 10px;
        left: 60%;
    }

    h1 {
        font-size: 2rem !important;
    }

    h2 {
        font-size: 1.7rem !important;
    }

    h3 {
        font-size: 1.3rem !important;
    }

    .homesnap {
        padding: 2%;
    }

    .testimonial4_slide {
        width: 90%;
    }
}